@charset "utf-8";
/* CSS Document */

body { font-size:12px; font-family:Arial; color:#000; margin:0; padding:0; }
input::-moz-focus-inner { border:0; }

div.clear { clear:both; }
span.clear { clear:both; display:block; }

span.flag.inactive { background:#F00; }
span.flag.active { background:#0C0; }
span.flag.delete { background:#000; }

input[readonly=readonly] { background:#EEE; }
textarea { font-family:Arial; font-size:12px; resize:none; }
form#process-data div#action-wrapper > button, form#process-data input[type=submit], a.button { text-decoration:none; padding:0 10px; display:block; text-align:center; height:25px; font-weight:bold; line-height:25px; font-size:12px; font-family:Arial; }
button.delete { padding:2px; margin-left:15px; }
textarea:focus, input:focus, a.button:focus, button:focus { border-color:#666 !important; }
select, textarea, input[type=submit], input[type=password], input[type=text], a.button, button { padding:3px; border:1px solid #CCC; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
input[type=submit], a.button, button { border:1px solid #CCC; color:#444; cursor:pointer; border:1px solid rgba(0, 0, 0, 0.1); padding-left:10px; padding-right:10px; }
input[type=submit], a.button, button {
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f5f5 0%,#f1f1f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#f1f1f1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f5f5 0%,#f1f1f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-8 */
}
input[type=submit]:hover, a.button:hover, button:hover { background:#F8F8F8; color:#222; box-shadow:0 1px 1px rgba(0, 0, 0, 0.1); border:1px solid rgba(0, 0, 0, 0.2); }

form p label.error { color:red; width:auto; display:block; text-align:right; font-size:11px; }

form#login { width:275px; margin:25px auto 0; border:1px solid #CCC; }
form#login p { margin:12px 0; }
form#login p > label:first-child { width:75px; display:inline-block; text-align:right; margin-right:10px; }
form#login p input { width:150px; }
form#login input[type=submit] { margin:5px 0 10px 15px; width:65px; }
form#login p label.error { margin:5px 27px 0 10px; }
form#login > strong:first-child { text-align:center; color:red; display:block; margin-top:10px; }

ul#main-menu { list-style:none; margin:0; padding:0 0 0 10px; background:#2D2D2D; height:30px; }
ul#main-menu > li { display:inline-block; position:relative; line-height:30px; }
ul#main-menu > li > a { color:#BBB; font-size:13px; text-decoration:none; font-weight:bold; padding:0 10px; display:block; outline:none; }
ul#main-menu > li > a:hover, ul#main-menu > li > a.active { color:#FFF; }
ul#main-menu > li > a.active { background:#FFF; color:#000 !important; }
ul#main-menu > li > a > span { display:inline-block; }
ul#main-menu > li > a > span.arrow { width:0; height:0; border-left:3px solid transparent; border-right:3px solid transparent; border-top:3px solid #BBB; position:relative; top:-3px; right:-4px; margin-right:3px; }
ul#main-menu > li > a:hover > span.arrow { border-top-color:#FFF; }
ul#main-menu > li > a.active > span.arrow { border-top-color:#000; }
ul#main-menu > li > ul { list-style:none; left:-1px; top:30px; margin:0; padding:10px 0; position:absolute; background:#FFF; border:1px solid #BEBEBE; border-top:none; white-space:nowrap; display:none; min-width:150px; z-index:999; }
ul#main-menu > li > ul > li { line-height:normal; }
ul#main-menu > li > ul > li > a { color:#000; font-size:13px; display:block; text-decoration:none; font-weight:bold; display:block; padding:5px 30px 5px 15px; }
ul#main-menu > li > ul > li > a:hover { background:#F0F0F0; }
ul#main-menu > li.top-right { float:right; margin-right:10px; }

div#container { margin:25px; }

div#content-heading { border-bottom:3px solid #DFDFDF; padding-bottom:15px; }
div#content-heading > h2 { float:left; font-size:22px; margin:7px 0 0 0; }
div#action-wrapper { float:right; }
div#action-wrapper > a, div#action-wrapper > button { float:left; }

/* DataTables */
div.dataTables_wrapper { margin-top:25px; }
div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter { margin-bottom:10px; }
div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate { margin-top:10px; }
table.table-data > thead > tr > th { border-top:1px solid #000; border-right:1px solid #000; padding:10px; background-color:#E6EEEE; }
table.table-data > thead > tr > th:first-child { border-left:1px solid #000; }
table.table-data > thead > tr > th.small { width:30px; }
table.table-data > thead > tr > th.medium { width:60px; }
table.table-data > thead > tr > th.sorting { background-image:url(../images/dataTables/ts_sort_both.gif); }
table.table-data > thead > tr > th.sorting_desc { background:#8DBDD8 url(../images/dataTables/ts_sort_asc.gif) right center no-repeat; }
table.table-data > thead > tr > th.sorting_asc { background:#8DBDD8 url(../images/dataTables/ts_sort_desc.gif) right center no-repeat; }
table.table-data > tbody > tr.odd { background:#F0F0F6; }
table.table-data > tbody > tr.odd > td.sorting_1 { background:#F0F0F6; }
table.table-data > tbody > tr.even { background:#FFF; }
table.table-data > tbody > tr.even > td.sorting_1 { background:#FFF; }
table.table-data > tbody > tr > td { padding:5px 10px; border-right:1px solid #000; }
table.table-data > tbody > tr > td:first-child { border-left:1px solid #000; }
table.table-data > tbody > tr > td:first-child, table.table-data > tbody > tr > td.status { text-align:center; }
table.table-data > tbody > tr > td span.action { display:block; display:none; }
table.table-data > tbody > tr > td.status > img { position:absolute; margin-left:10px; margin-top:2px; display:none; }
table.table-data > tbody > tr > td.status > span.flag { width:15px; height:15px; display:inline-block; text-align:center; cursor:pointer; }
table.table-data > tbody > tr:last-child > td { border-bottom:1px solid #000; }
table.table-data > tbody > tr > td:last-child { text-align:center; }

/* Form Process (Add - Edit) */
form#process-data div#action-wrapper > input[type=submit] { height:33px; float:left; }
form#process-data div#action-wrapper > button { height:33px; float:left; }
form#process-data div#action-wrapper > button[type=reset] { margin:0 15px; }

#form-content { margin-top:15px; }
#form-left, #form-right { float:left; }
#form-left { margin-right:50px; }
#form-content fieldset { border-color:#EEE; width:450px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; padding:5px; margin:30px 0; }
#form-content fieldset legend { text-transform:uppercase; font-weight:bold; padding:0 5px; font-size:14px; }
#form-content fieldset label.label-input:first-child { float:left; font-weight:bold; line-height:23px; display:block; margin:0 10px; }
#form-content fieldset input { width:300px; }
#form-content fieldset label.error { margin:7px 10px 0 0; }
#form-content fieldset div.flag { float:left; width:145px; margin-right:5px; }
#form-content fieldset div.flag input { width:15px !important; float:left; }
#form-content fieldset div.flag span.flag { display:block; float:left; width:15px; height:15px; margin-right:5px; }
#form-content fieldset div.flag label.label-input { display:block; float:left; margin-top:2px; font-weight:bold; }
#form-content fieldset div.memo { float:left; }
#form-content fieldset div.memo p label { display:block; font-weight:bold; }
#form-content fieldset div.memo textarea { width:280px; height:50px; }
#form-content fieldset a.fake-input { display:block; padding:3px; float:left; margin-top:1px; }
#form-content fieldset input[type=checkbox] { display:block; float:left; width:15px !important; margin-top:6px; }
#form-content fieldset select { padding:3px; }
#form-content fieldset textarea.input { height:100px; }

#form-content fieldset span.radio-options { display:block; float:left; margin-top:2px; }
#form-content fieldset span.radio-options input, #form-content fieldset span.radio-options label.radio { width:auto !important; float:left; margin:0; }
#form-content fieldset span.radio-options input { margin-top:3px; margin-right:5px; }
#form-content fieldset span.radio-options label.radio { margin-top:3px; margin-right:15px; }

#form-content fieldset span.suffix { display:block; float:left; font-weight:bold; line-height:23px; margin-left:5px; }
#form-content fieldset .has-suffix { display:block; float:left; }

#privilege-table { margin:15px auto; }
#privilege-table input[type=checkbox] { width:auto !important; margin:0 !important; float:none !important; display:inline !important; }
#privilege-table thead tr th { border-bottom:1px solid #333; }
#privilege-table tbody tr td { border-bottom:1px solid #333; }