@charset "utf-8";
/* CSS Document */

body { font-size:12px; font-family:Arial; color:#000; }

input[type=submit], input[type=password], input[type=text] { padding:3px; border:1px solid #999; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
input[type=submit] { background:#9C3; border:none; color:#FFF; cursor:pointer; }
input[type=submit]:hover { background:#FFC500; }
form p label.error { color:red; width:auto; display:block; text-align:right; font-size:11px; }

form#login { width:275px; margin:25px auto 0; border:1px solid #999; }
form#login p { margin:12px 0; }
form#login p > label:first-child { width:75px; display:inline-block; text-align:right; margin-right:10px; }
form#login p input { width:150px; }
form#login input[type=submit] { margin:5px 0 10px 15px; width:65px; }
form#login p label.error { margin:5px 27px 0 10px; }
form#login > strong:first-child { text-align:center; color:red; display:block; margin-top:10px; }